[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
flask-shell-ipython = "*"
pytest = "*"
pytest-cov = "*"

[packages]
Flask = "*"
Flask-WTF = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"

[requires]
python_version = "3.8"
